html, body {
    height: 100%;
    overflow: auto;
}

/* HOME */

.awal-bg {
    background-image: url(image/bg2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}


.awal {
    min-height: 36rem;
    display: flex;
    align-items: center;
}

.awal-bg .awal .content {
    width: 100rem;
    text-align: right;
}

.awal-bg .awal .content h1 {
    font-size: 8rem;
    color: white;
    font-family: 'Roboto'sans-serif;
    text-align: center;
    font-family: 'Roboto'sans-serif;
    margin-bottom: 2px;
    /* background-color: #d9a60d;
    width: 500px; */
}

.awal-bg .awal .content h3 {
    padding: 2rem 0;
    font-size: 2.5rem;
    color: white;
    text-align: center;
    font-weight: lighter;
    /* background-color: #FFC107;
    bac */

}

/* HOME */


/* ABOUT */

.bk-abt {
    background-image: url(image/ab3.jpg);
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-position:center center;

}
.about P {
    position: relative;
    margin-bottom: 35px;
    font-size: 20px;
    color:  white;
    /* background-color: #FFC107; */
}

.about h2 {
    position: relative;
    margin-bottom: 35px;
    font-size: 50px;
    color: white;
}

.about h2::after {
    content: "";
    width: 150px;
    height: 3px;
    display: inline-block;
    background: #FFC107;
    position: absolute;
    margin-left: -180px;
    bottom: -20px;
    margin: 100;
}

.about .box {
    padding: 50px 30px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.10);
    transition: 0.5s;
    position: relative;
    background-color: #876445;
    /* max-height: 300px; */
    overflow: hidden;
    margin-bottom: 30px;
    border-radius: 10px;
}

.about .box:hover {
    padding: 30px 30px 70px 30px;
    box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.20);
    background-color: #876445
}




.about .box h4 a {
    font-size: 24px;
    font-weight: 600;
    padding: 0;
    margin: 20px 0;
    color: #fff;
    text-decoration: none;
}

.about .box p {
    color: #fff;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

.about .box:hover span,
.about .box:hover h4 a,
.about .box:hover p {
    color: #fff;
}



/* ABOUT */


/* Review */

.rating {
    display: inline-block;
    position: relative;
    height: 50px;
    line-height: 50px;
    font-size: 30px;
  }
  
  .rating label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    cursor: pointer;
  }
  
  .rating label:last-child {
    position: static;
  }
  
  .rating label:nth-child(1) {
    z-index: 5;
  }
  
  .rating label:nth-child(2) {
    z-index: 4;
  }
  
  .rating label:nth-child(3) {
    z-index: 3;
  }
  
  .rating label:nth-child(4) {
    z-index: 2;
  }
  
  .rating label:nth-child(5) {
    z-index: 1;
  }
  
  .rating label input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
  
  .rating label .icon {
    float: left;
    color: transparent;
  }
  
  .rating label:last-child .icon {
    color: #000;
  }
  
  .rating:not(:hover) label input:checked ~ .icon,
  .rating:hover label:hover input ~ .icon {
    color: gold;
  }
  
  .rating label input:focus:not(:checked) ~ .icon:last-child {
    color: #000;
    text-shadow: 0 0 5px #09f;
  }


/* review */