<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>menu</title>
</head>

<body>
    <header class="header">

        <section class="flex">
            <nav class="navbar">
                <a href="index.html">Home</a>
                <a href="menu.html">Menu</a>
                <a href="reservasi.html">Reservasi</a>
                <a href="#">Login</a>
            </nav>

            <div id="menu-btn" class="fas fa-bars"></div>

        </section>

    </header>

    <section class="menu" id="menu">

        <div class="heading">
            <h3>Daftar Menu</h3>
            <h4>Minuman</h4>
        </div>

        <div class="box-container">

            <div class="box">
                <img src="image/menu-1.png" alt="">
                <h3>love you coffee</h3>
            </div>

            <div class="box">
                <img src="image/menu-2.png" alt="">
                <h3>Cappuccino</h3>
            </div>

            <div class="box">
                <img src="image/menu-3.png" alt="">
                <h3>Mocha coffee</h3>
            </div>

            <div class="box">
                <img src="image/menu-4.png" alt="">
                <h3>Frappuccino</h3>
            </div>

            <div class="box">
                <img src="image/menu-5.png" alt="">
                <h3>black coffee</h3>
            </div>

            <div class="box">
                <img src="image/menu-6.png" alt="">
                <h3>love heart coffee</h3>
            </div>

        </div>

        <div class="heading">
            <h4>Makanan</h4>
        </div>

        <div class="box-container2">

            <div class="box">
                <img src="image/makanan-1.png" alt="">
                <h3>Kentang Goreng Saus Keju</h3>
            </div>

            <div class="box">
                <img src="image/makanan-1.png" alt="">
                <h3>Spaghetti bolognese</h3>
            </div>

            <div class="box">
                <img src="image/makanan-1.png" alt="">
                <h3>Sandwich Telur</h3>
            </div>

            <div class="box">
                <img src="image/makanan-1.png" alt="">
                <h3>Matcha Panna Cotta</h3>
            </div>

            <div class="box">
                <img src="image/makanan-1.png" alt="">
                <h3>Roti Canay</h3>
            </div>

            <div class="box">
                <img src="image/makanan-1.png" alt="">
                <h3>Potato Wedges</h3>
            </div>

        </div>

    </section>
</body>

</html>